<div class="texera-workspace-operator-view-container">
    <form class="search-area">
      <mat-form-field class="search-area-full-width">
        <input type="text" placeholder="Search Operators" aria-label="OperatorSchema" [(ngModel)] = "inputMonitor" matInput [formControl]="operatorCtrl" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="HighlightSelection(option)" [value]="option.additionalMetadata.userFriendlyName">
            {{option.additionalMetadata.userFriendlyName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    {{removeSelection()}}
  <mat-accordion multi="false">
      <div *ngFor="let operatorType of operatorGroupName">
      <mat-expansion-panel [expanded] = "expandCurrent(operatorType)">
          <mat-expansion-panel-header>
              <mat-panel-title>
                {{operatorType}}
              </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == operatorType.toLowerCase() 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
      </mat-expansion-panel> 
      </div>
  </mat-accordion> 
</div>