<div class="texera-workspace-operator-view-container">
    <h3 md-subheader>Operators</h3> 

    <form class="search-area">
      <mat-form-field class="search-area-full-width">
        <input type="text" placeholder="Search Operators" aria-label="OperatorSchema" matInput [formControl]="operatorCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" (click)="HighlightSelection(option)" [value]="option.userFriendlyName">
            {{option.userFriendlyName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Sources
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'source' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Search
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'search' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Analysis
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'analysis' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Split
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'split' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Join
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'join' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Other
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'other' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              Write Database
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'write database' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
            <mat-panel-title>
              View Results
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div *ngFor="let operatorSchema of operatorMetadataList">
                <texera-operator-label  *ngIf="operatorSchema.additionalMetadata.operatorGroupName.toLowerCase() == 'standalone' 
                " [operator]="operatorSchema"></texera-operator-label>
            </div>
    </mat-expansion-panel> 
</mat-accordion>
</div>