.texera-workspace-operator-view-body {
    padding: 5px;
}

.texera-operator-search-form {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.mat-form-field-infix {
        width: 100%;
    }
}