.texera-workspace-operator-view-container {
    // width: 100%;
    height: 100%;
    // border-style: solid;
    border: 0.5px solid black;
    overflow: auto;
    padding: 0px 5px;
}

.search-area {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.search-area-full-width {
    width: 100%;
  }

