<div fxLayout="column" fxFlexFill>
  
  <texera-navigation fxFlex="0 0 4em"></texera-navigation>
  
  <div fxFlex="">

    <div class="texera-workspace-main-view-container" fxLayout="row" fxLayoutAlign="space-around stretch" fxFlexFill>
      <texera-operator-view fxFlexOrder=1 fxFlex="15%"></texera-operator-view>
      <texera-property-editor fxFlexOrder=3 fxFlex="15%"></texera-property-editor>  

      <div fxFlexOrder=2 fxFlex="1 0 auto" fxLayout="column" style="height: 100vh !important;">
        <div class="texera-workspace-mid-column-container" fxLayout="column" flex layout-margin fxFlexFill>
            <texera-workflow-editor fxFlex="70%"></texera-workflow-editor>
            <texera-result-view fxFlex="30%"></texera-result-view>
        </div> 
      </div>
      
    </div>

  </div>
</div>