@import '../../app.component';

.texera-workspace-grid-container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 70% 20%;
}

.texera-navigation-grid-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.texera-operator-view-grid-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.texera-property-editor-grid-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.texera-workflow-editor-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.texera-result-view-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
