@import '../workspace.component.scss';


// .texera-workspance-search-box {
//     margin-top: 30px;
// }


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.example-full-width {
    width: 100%;
  }